body{
	margin:250px;
	font-size:65px;
	background-size:2000px 1000px;
}
h1{
	font-family:Verdana;
	color:#008B8B;
}
button{
	color:#000000;
	width:100px;
}
a{
	color:black;
	text-decoration:none;
}
a:hover{
	color:black;
}
